<a href="https://colab.research.google.com/github/tazar09/cars_dimensions/blob/main/comparison_02-feb2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

import warnings
warnings.filterwarnings('ignore')

# Scrapping the website

In [2]:
url = 'https://www.automobiledimension.com/compact-suv.php'
h3 = requests.get(url, verify = False)
html_content = h3.text

# Creating BeautifulSoup objects

In [3]:
soup = BeautifulSoup(html_content, 'html.parser')

In [4]:
main_table = soup.find('main')

# Extract model description

In [5]:
temp_list = []
for i in main_table('a'):
  href = i['href']
  if href and href.startswith('/model'):
    temp_list.append(href)

In [6]:
weblink = []
for i in temp_list:
  weblink.append('https://www.automobiledimension.com' + i)

In [239]:
# Function to extract boot
models_text = []
boot_space = []

def extract_boot_space(content):
  content_boot = BeautifulSoup(content.text, 'html.parser')
  interior_div_text = content_boot.find_all('figure', class_ = 'interior-figure')[1]
  figcaption_element = interior_div_text.find('figcaption')
  if figcaption_element:
      # Extract the text, split it, and keep the second part
      extracted_text = figcaption_element.text
      boot_space.append(extracted_text)
  else:
      pass
  return(boot_space)

# Function to extract main text

def extract_main_text(content):
  content_text = BeautifulSoup(content.text, 'html.parser')
  interior_text = content_text.find('div', class_ = 'interior-text')
  if interior_text:
    div_content = interior_text.text
    models_text.append(div_content)
  else:
    pass
  return(models_text)

In [240]:
boot_space_list = []
main_text_list = []

for i in weblink:
  content = requests.get(i, verify = False)
  boot_space_list = extract_boot_space(content)
  main_text_list = extract_main_text(content)

In [241]:
main_text_list[0]

'The Ford Puma has a length of 4207 mm, a height of 1537 mm, a width of 1805 mm without the exterior mirrors and a measurement of 1930 millimeters with the mirrors unfolded. Motorization: petrol and  petrol mild hybrid. The mild hybrid model is called Puma Ecoboost Hybrid and has a boot space of 401* liters. Because of its size, features and ground clearance of 16 cm, we classify the Ford Puma in the category of compact SUV.Do you like the trend of larger cars? üëç üëé'

In [256]:
boot_space_list[0]

'Boot space: 401* - 456 liters.'

# Extract dimensions

## Function for extracting

In [257]:
def extract_car_info(text):
  # Define the regular expression patterns for each data point
  if 'boot capacity varies between' in text:
    patterns = {
      'name': r'The\s+(.+?)\s+has',
      "length": r"length\s+of\s+(\d+)\s+mm",
      "height": r"height\s+of\s+(\d+)\s+mm",
      "width": r"width\s+of\s+(\d+)\s+mm",
      'measurement': r'measurement\s+of\s+(\d+)\s+millimeters',
      "boot_space": r"varies\s+between\s+(.+?)\s+liters",
      "ground_clearance": r"ground\s+clearance\s+of\s+(\d+)\s+cm",
      "category": r"category\s+of\s+(.*?)\.",
    }

    # Initialize an empty dictionary to store the extracted data
    car_info = {}

    # Iterate through each pattern and try to extract the corresponding data
    for key, pattern in patterns.items():
      match = re.search(pattern, text)
      if match:
        car_info[key] = match.group(1)  # Convert matched value to integer
      else:
        car_info[key] = 'N/A'  # Set missing values to None


  else:
    patterns = {
      'name': r'The\s+(.+?)\s+has',
      "length": r"length\s+of\s+(\d+)\s+mm",
      "height": r"height\s+of\s+(\d+)\s+mm",
      "width": r"width\s+of\s+(\d+)\s+mm",
      'measurement': r'measurement\s+of\s+(\d+)\s+millimeters',
      "boot_space": r"boot\s+space\s+of\s+(.*?)\s*liters",
      "ground_clearance": r"ground\s+clearance\s+of\s+(\d+)\s+cm",
      "category": r"category\s+of\s+(.*?)\.",
    }

    # Initialize an empty dictionary to store the extracted data
    car_info = {}

    # Iterate through each pattern and try to extract the corresponding data
    for key, pattern in patterns.items():
      match = re.search(pattern, text)
      if match:
        car_info[key] = match.group(1)  # Convert matched value to integer
      else:
        car_info[key] = 'N/A'  # Set missing values to None

  return list(car_info.items())

In [245]:
extract_car_info(main_text_list[12])

[('name', 'Smart #1'),
 ('length', '4270'),
 ('height', '1636'),
 ('width', '1822'),
 ('measurement', 'N/A'),
 ('boot_space', '288 - 426'),
 ('ground_clearance', 'N/A'),
 ('category', 'compact SUV')]

In [270]:
def average_boot(text):
  min, max = text.split(sep = '-')
  min = int(min)
  max = int(max)
  average = ((max+min)/2)
  return average

In [274]:
df = pd.DataFrame({'description':main_text_list, 'boot_space':boot_space_list})
columns = ['name', "length", "height", "width", 'measurement', "boot space", "ground clearance"]

for i, column in enumerate(columns):
  df[column]=df['description'].apply(lambda x: extract_car_info(x)[i][1])

df = df.replace('N/A', '')
df['boot_space'] = df['boot_space'].str.replace('Boot space: ', '')
df['boot_space'] = df['boot_space'].str.replace(' liters.', '')
df['boot_space'] = df['boot_space'].apply(lambda x: x.replace('* - ', '-') if '*' in x else x)
df['boot_space'] = df['boot_space'].apply(lambda x: average_boot(x) if len(x) > 4 else int(x))


df.drop('boot space', axis = 1).head(100)

,description,boot_space,name,length,height,width,measurement,ground clearance
0,"The Ford Puma has a length of 4207 mm, a heigh...",428.5,Ford Puma,4207,1537,1805,1930,16
1,"The Audi Q2 has a length of 4208 mm, a height ...",405.0,Audi Q2,4208,1508,1794,2009,15
2,"The Nissan Juke has a length of 4210 mm, a hei...",388.0,Nissan Juke,4210,1595,1800,1983,17
3,"The Opel Crossland has a length of 4212 mm, a ...",410.0,Opel Crossland,4212,1605,1765,1976,17
4,"The SsangYong Tivoli has a length of 4225 mm, ...",427.0,SsangYong Tivoli,4225,1621,1810,,18
5,"The Renault Captur has a length of 4227 mm, a ...",335.5,Renault Captur,4227,1566,1797,2003,17
6,"The Mitsubishi ASX has a length of 4227 mm, a ...",333.0,Mitsubishi ASX,4227,1566,1797,2003,17
7,"The Volvo EX30 has a length of 4233 mm, a heig...",318.0,Volvo EX30,4233,1549,1836,2032,17
8,"The Jeep Renegade has a length of 4236 mm, a h...",340.5,Jeep Renegade,4236,1697,1805,,17
9,"The Volkswagen T-Roc has a length of 4236 mm, ...",445.0,Volkswagen T-Roc,4236,1573,1819,2012,16
10,"The Skoda Kamiq has a length of 4241 mm, a hei...",400.0,Skoda Kamiq,4241,1553,1793,1988,18
11,"The Fiat 500X has a length of 4264 mm, a heigh...",350.0,Fiat 500X,4264,1595,1796,2025,16
12,"The Smart #1 has a length of 4270 mm, a height...",288.0,Smart #1,4270,1636,1822,,
13,"The Volkswagen Taigo has a length of 4271 mm, ...",440.0,Volkswagen Taigo,4271,1515,1757,1995,
14,"The Suzuki S-Cross has a length of 4300 mm, a ...",430.0,Suzuki S-Cross,4300,1585,1785,,18
15,"The Peugeot 2008 has a length of 4304 mm, a he...",419.5,Peugeot 2008,4304,1550,1770,1987,17
16,"The MG ZS has a length of 4323 mm, a height of...",448.0,MG ZS,4323,1653,1809,2048,16
17,"The Honda HR-V has a length of 4340 mm, a heig...",335.0,Honda HR-V,4340,1582,1790,2028,19
18,"The Dacia Duster has a length of 4340 mm, a he...",472.0,Dacia Duster,4340,1660,1810,2060,21
19,"The Toyota C-HR has a length of 4360 mm, a hei...",349.0,Toyota C-HR,4360,1570,1830,,
20,The Land-Rover Range Rover Evoque has a length...,472.0,Land-Rover Range Rover Evoque,4371,1649,1904,2100,21
21,"The Seat Ateca has a length of 4381 mm, a heig...",510.0,Seat Ateca,4381,1615,1841,2078,18
22,"The CUPRA Ateca has a length of 4386 mm, a hei...",485.0,CUPRA Ateca,4386,1613,1841,2078,17
23,"The Fiat Tipo Cross has a length of 4386 mm, a...",440.0,Fiat Tipo Cross,4386,1556,1802,2002,16
24,"The Honda e:Ny1 has a length of 4387 mm, a hei...",361.0,Honda e:Ny1,4387,1584,1790,2028,14
25,"The Skoda Karoq has a length of 4390 mm, a hei...",521.0,Skoda Karoq,4390,1603,1841,2025,17
26,"The Kia XCeed has a length of 4395 mm, a heigh...",358.5,Kia XCeed,4395,1483,1826,2055,17
27,"The Jaguar E-PACE has a length of 4395 mm, a h...",394.0,Jaguar E-PACE,4395,1648,1900,2088,21
28,"The Mazda CX-30 has a length of 4395 mm, a hei...",430.0,Mazda CX-30,4395,1540,1795,,17
29,"The Jeep Compass has a length of 4395 mm, a he...",429.0,Jeep Compass,4395,1640,1820,2115,20
30,"The Ford Focus Active has a length of 4397 mm,...",392.0,Ford Focus Active,4397,1502,1844,1979,16
31,"The Smart #3 has a length of 4400 mm, a height...",385.0,Smart #3,4400,1556,1844,,
32,"The Mercedes-Benz GLA has a length of 4410 mm,...",410.0,Mercedes-Benz GLA,4410,1616,1834,2020,17
33,"The Kia Niro has a length of 4420 mm, a height...",399.5,Kia Niro,4420,1570,1825,,16
34,"The Nissan Qashqai has a length of 4425 mm, a ...",480.0,Nissan Qashqai,4425,1635,1838,2084,18
35,"The MINI Countryman has a length of 4433 mm, a...",460.0,MINI Countryman,4433,1656,1843,,
36,"The Volvo XC40 has a length of 4440 mm, a heig...",451.0,Volvo XC40,4440,1652,1863,2034,21
37,"The Peugeot 3008 has a length of 4542 mm, a he...",520.0,Peugeot 3008,4542,1641,1895,2108,
38,"The CUPRA Formentor has a length of 4450 mm, a...",397.5,CUPRA Formentor,4450,1528,1839,1992,
39,"The SsangYong Korando has a length of 4450 mm,...",551.0,SsangYong Korando,4450,1629,1870,,17
40,The Toyota Corolla Cross has a length of 4460 ...,433.0,Toyota Corolla Cross,4460,1620,1825,,
41,"The Ford Explorer has a length of 4460 mm, a h...",470.0,Ford Explorer,4460,1600,1870,,
42,"The Mercedes-Benz EQA has a length of 4463 mm,...",340.0,Mercedes-Benz EQA,4463,1620,1834,2020,18
43,"The Opel Grandland has a length of 4477 mm, a ...",452.0,Opel Grandland,4477,1609,1856,2098,20
44,The SsangYong Tivoli Grand has a length of 448...,574.0,SsangYong Tivoli Grand,4480,1660,1810,,17
45,"The Audi Q3 has a length of 4484 mm, a height ...",455.0,Audi Q3,4484,1585,1856,2024,17
46,"The Lexus UX has a length of 4495 mm, a height...",343.5,Lexus UX,4495,1540,1840,,16
47,"The Subaru Crosstrek has a length of 4495 mm, ...",315.0,Subaru Crosstrek,4495,1600,1800,2020,22
48,"The Audi Q3 Sportback has a length of 4500 mm,...",455.0,Audi Q3 Sportback,4500,1556,1843,2022,17
49,The Citroen C5 Aircross has a length of 4500 m...,520.0,Citroen C5 Aircross,4500,1689,1840,2099,23
50,"The BMW X1 has a length of 4500 mm, a height o...",515.0,BMW X1,4500,1642,1845,2104,20
51,"The Hyundai Tucson has a length of 4500 mm, a ...",572.0,Hyundai Tucson,4500,1650,1865,,17