<a href="https://colab.research.google.com/github/tazar09/cars_dimensions/blob/main/midsize_07-feb2024_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
import numpy as np

import warnings
warnings.filterwarnings('ignore')
import time

# Scrapping the website

In [2]:
url = 'https://www.automobiledimension.com/mid-size-suv.php'
h3 = requests.get(url, verify = False)
html_content = h3.text

# Creating BeautifulSoup objects

In [3]:
soup = BeautifulSoup(html_content, 'html.parser')
main_table = soup.find('main')

In [4]:
temp_list = []
for i in main_table.find_all('div', class_ = 'unit'):
  link = str(i.a['href'])
  temp_list.append('https://www.automobiledimension.com' + link)
temp_list[0:3]

['https://www.automobiledimension.com/model/hyundai/kona',
 'https://www.automobiledimension.com/model/renault/austral',
 'https://www.automobiledimension.com/model/kia/sportage']

# Extract model description

In [5]:
def extract_main_text(text):
  search = text.find('div', class_ = 'interior-text')
  return search.text

In [6]:
def extract_boot_space(text):
  search = text.find_all('figcaption')[1]
  boot_space = search.text
  return boot_space

In [7]:
main_text_list = []
boot_space_list = []

try:
  for i in temp_list:
    content = requests.get(i, verify = False)
    time.sleep(3)
    content = BeautifulSoup(content.text, 'html.parser')
    main_text_list.append(extract_main_text(content))
    boot_space_list.append(extract_boot_space(content))
except:
  main_text_list.append(None)
  boot_space_list.append(None)

# Creating dataframe

In [ ]:
df = pd.DataFrame({'description': main_text_list, 'boot_space': boot_space_list})
# df.head(100)

# Cleaning the dataframe

In [ ]:
df['boot_space'] = df['boot_space'].str.replace('Boot space: ', '')
df['boot_space'] = df['boot_space'].str.replace(' liters.','')
df['boot_space'] = df['boot_space'].str.replace('*','')
df.head(100)

In [18]:
def extract_5_seats_boot(text):
  if '(5)' in text:
    pattern = r'\(5\)\s(\d+)'
    match5 = re.search(pattern, text)
    return match5.group(1)
  else:
    return np.NaN

def extract_7_seats_boot(text):
  if '(7) ' in text:
    pattern = r'\(7\)\s(\d+)'
    match7 = re.search(pattern, text)
    if match7:
      return match7.group(1)
    else:
      return np.NaN
  else:
    return np.NaN

def extract_hybrid(text):
    if '-' in text and '(' not in text:
      boot_hybrid, boot_space = text.split('-')

      return average, int(min)
    else:
      return text, text

In [ ]:
df['boot_space_5'] = df['boot_space'].apply(lambda x: extract_5_seats_boot(x))
df['boot_space_7'] = df['boot_space'].apply(lambda x: extract_7_seats_boot(x))
df.head(100)

In [40]:
df['7-seated'] = df['boot_space_7'].apply(lambda x: 'Yes' if pd.notna(x) else 'No')

def boot_hybrid(text):
  if ('-' in text and '(' not in text):
    match_hybrid = text.split('-')
    return match_hybrid[0].strip()
  else:
    return np.NaN

def boot_normal(text):
  if ('-' in text and '(' not in text):
    match_normal = text.split('-')
    return match_normal[1].strip()
  else:
    return np.NaN

# def join_boot_5_normal(text)



df['boot_space_hydbrid'] = df['boot_space'].apply(lambda x: boot_hybrid(x))
df['boot_space_normal'] = df['boot_space'].apply(lambda x: boot_normal(x))
df['boot_normal_final'] = df['boot_space_normal'].apply(lambda x: fillna())
df.head(100)

,description,boot_space,boot_space_5,boot_space_7,7-seated,boot_space_hydbrid,boot_space_normal
0,"The Hyundai Kona has a length of 4355 mm, a he...",493 - 466,NaN,NaN,No,493,466
1,"The Renault Austral has a length of 4510 mm, a...",430 - 500,NaN,NaN,No,430,500
2,"The Kia Sportage has a length of 4515 mm, a he...",540 - 591,NaN,NaN,No,540,591
3,"The Alfa-Romeo Tonale has a length of 4530 mm,...",500,NaN,NaN,No,NaN,NaN
4,"The Volkswagen Tiguan has a length of 4540 mm,...",,NaN,NaN,No,NaN,NaN
5,"The LynkCo 01 has a length of 4541 mm, a heigh...",466,NaN,NaN,No,NaN,NaN
6,"The Peugeot 3008 has a length of 4542 mm, a he...",520,NaN,NaN,No,NaN,NaN
7,The Mitsubishi Eclipse Cross has a length of 4...,404,NaN,NaN,No,NaN,NaN
8,"The Dacia Jogger has a length of 4547 mm, a he...",(5) 565-708 - (7) 160,565,160,Yes,NaN,NaN
9,"The BMW X2 has a length of 4554 mm, a height o...",560,NaN,NaN,No,NaN,NaN
10,"The Renault Arkana has a length of 4568 mm, a ...",480 - 513,NaN,NaN,No,480,513
11,"The Mazda CX-5 has a length of 4575 mm, a heig...",522,NaN,NaN,No,NaN,NaN
12,"The Volkswagen ID.4 has a length of 4584 mm, a...",543,NaN,NaN,No,NaN,NaN
13,"The Audi Q4 e-tron has a length of 4588 mm, a ...",520,NaN,NaN,No,NaN,NaN
14,"The DS DS7 has a length of 4595 mm, a height o...",555,NaN,NaN,No,NaN,NaN
15,"The Nissan Ariya has a length of 4595 mm, a he...",466,NaN,NaN,No,NaN,NaN
16,The Land-Rover Discovery Sport has a length of...,(5) 541 - (7) 100,541,100,Yes,NaN,NaN
17,"The Volkswagen ID.5 has a length of 4599 mm, a...",549,NaN,NaN,No,NaN,NaN
18,"The Toyota RAV4 has a length of 4600 mm, a hei...",520 - 580,NaN,NaN,No,520,580
19,"The Honda CR-V has a length of 4706 mm, a heig...",635 - 596,NaN,NaN,No,635,596
20,"The Ford Kuga has a length of 4604 mm, a heigh...",482,NaN,NaN,No,NaN,NaN
21,"The MG HS has a length of 4610 mm, a height of...",448 - 463,NaN,NaN,No,448,463
22,"The Mercedes-Benz GLB has a length of 4634 mm,...",(5) 570 - (7) -,570,NaN,No,NaN,NaN
23,"The Hyundai IONIQ 5 has a length of 4635 mm, a...",588,NaN,NaN,No,NaN,NaN
24,"The Suzuki Across has a length of 4635 mm, a h...",490,NaN,NaN,No,NaN,NaN
25,"The Subaru Forester has a length of 4640 mm, a...",509,NaN,NaN,No,NaN,NaN
26,"The Peugeot 5008 has a length of 4641 mm, a he...",(5) 780 - (7) 166,780,166,Yes,NaN,NaN
27,"The CUPRA Tavascan has a length of 4644 mm, a ...",540,NaN,NaN,No,NaN,NaN
28,"The Skoda Enyaq iV has a length of 4649 mm, a ...",585,NaN,NaN,No,NaN,NaN
29,"The Lexus NX has a length of 4660 mm, a height...",555,NaN,NaN,No,NaN,NaN
30,"The Hyundai Nexo has a length of 4670 mm, a he...",461,NaN,NaN,No,NaN,NaN
31,"The Nissan X-Trail has a length of 4680 mm, a ...",575 - (5) 585 - (7) 177,585,177,Yes,NaN,NaN
32,"The Audi Q5 has a length of 4682 mm, a height ...",465 - 550,NaN,NaN,No,465,550
33,"The Jaguar I-PACE has a length of 4682 mm, a h...",505,NaN,NaN,No,NaN,NaN
34,The Alfa-Romeo Stelvio has a length of 4687 mm...,525,NaN,NaN,No,NaN,NaN
35,"The Subaru Solterra has a length of 4690 mm, a...",452,NaN,NaN,No,NaN,NaN
36,"The Toyota bZ4X has a length of 4690 mm, a hei...",452,NaN,NaN,No,NaN,NaN

In [13]:
# extracting for all cases, compact and midsize, so needed trees
def average(text):
    if '-' in text and '(' not in text:
      min, max = text.split('-')
      average = (int(max) + int(min))/2
      return average, int(min)
    else:
      return text, text

In [14]:
df['boot_space'] = df['boot_space'].apply(lambda x: average(x)[0])
df.head(100)

,description,boot_space,boot_space_5,boot_space_7
0,"The Hyundai Kona has a length of 4355 mm, a he...",479.5,NaN,NaN
1,"The Renault Austral has a length of 4510 mm, a...",465.0,NaN,NaN
2,"The Kia Sportage has a length of 4515 mm, a he...",565.5,NaN,NaN
3,"The Alfa-Romeo Tonale has a length of 4530 mm,...",500,NaN,NaN
4,"The Volkswagen Tiguan has a length of 4540 mm,...",,NaN,NaN
5,"The LynkCo 01 has a length of 4541 mm, a heigh...",466,NaN,NaN
6,"The Peugeot 3008 has a length of 4542 mm, a he...",520,NaN,NaN
7,The Mitsubishi Eclipse Cross has a length of 4...,404,NaN,NaN
8,"The Dacia Jogger has a length of 4547 mm, a he...",(5) 565-708 - (7) 160,565,160
9,"The BMW X2 has a length of 4554 mm, a height o...",560,NaN,NaN
10,"The Renault Arkana has a length of 4568 mm, a ...",496.5,NaN,NaN
11,"The Mazda CX-5 has a length of 4575 mm, a heig...",522,NaN,NaN
12,"The Volkswagen ID.4 has a length of 4584 mm, a...",543,NaN,NaN
13,"The Audi Q4 e-tron has a length of 4588 mm, a ...",520,NaN,NaN
14,"The DS DS7 has a length of 4595 mm, a height o...",555,NaN,NaN
15,"The Nissan Ariya has a length of 4595 mm, a he...",466,NaN,NaN
16,The Land-Rover Discovery Sport has a length of...,(5) 541 - (7) 100,541,100
17,"The Volkswagen ID.5 has a length of 4599 mm, a...",549,NaN,NaN
18,"The Toyota RAV4 has a length of 4600 mm, a hei...",550.0,NaN,NaN
19,"The Honda CR-V has a length of 4706 mm, a heig...",615.5,NaN,NaN
20,"The Ford Kuga has a length of 4604 mm, a heigh...",482,NaN,NaN
21,"The MG HS has a length of 4610 mm, a height of...",455.5,NaN,NaN
22,"The Mercedes-Benz GLB has a length of 4634 mm,...",(5) 570 - (7) -,570,NaN
23,"The Hyundai IONIQ 5 has a length of 4635 mm, a...",588,NaN,NaN
24,"The Suzuki Across has a length of 4635 mm, a h...",490,NaN,NaN
25,"The Subaru Forester has a length of 4640 mm, a...",509,NaN,NaN
26,"The Peugeot 5008 has a length of 4641 mm, a he...",(5) 780 - (7) 166,780,166
27,"The CUPRA Tavascan has a length of 4644 mm, a ...",540,NaN,NaN
28,"The Skoda Enyaq iV has a length of 4649 mm, a ...",585,NaN,NaN
29,"The Lexus NX has a length of 4660 mm, a height...",555,NaN,NaN
30,"The Hyundai Nexo has a length of 4670 mm, a he...",461,NaN,NaN
31,"The Nissan X-Trail has a length of 4680 mm, a ...",575 - (5) 585 - (7) 177,585,177
32,"The Audi Q5 has a length of 4682 mm, a height ...",507.5,NaN,NaN
33,"The Jaguar I-PACE has a length of 4682 mm, a h...",505,NaN,NaN
34,The Alfa-Romeo Stelvio has a length of 4687 mm...,525,NaN,NaN
35,"The Subaru Solterra has a length of 4690 mm, a...",452,NaN,NaN
36,"The Toyota bZ4X has a length of 4690 mm, a hei...",452,NaN,NaN

In [15]:
df['boot_mean'] = df['boot_space'].apply(lambda x: average(x)[0] if len(x) > 3 else int(x))
df['boot_normal'] = df['boot_space'].apply(lambda x: average(x)[1] if len(x) > 3 else int(x))

TypeError: object of type 'float' has no len()

In [ ]:
df.drop('boot_space', axis = 1, inplace = True)

In [ ]:
df.head()

# Extract dimensions

In [ ]:
def extract_dim(text):
  patterns = {
  'name': r'The\s+(.*?)\s+has',
  "length": r"length\s+of\s+(\d+)\s+mm",
  'measurement': r'measurement\s+of\s+(\d+)\s+millimeters',
  "height": r"height\s+of\s+(\d+)\s+mm",
  "width": r"width\s+of\s+(\d+)\s+mm",
  "ground_clearance": r"ground\s+clearance\s+of\s+(\d+)\s+cm",
  "category": r"category\s+of\s+(.*?)\."
  }

  car_info = {}

  for key, pattern in patterns.items():
    match = re.search(pattern, text)
    if match:
      car_info[key] = match.group(1) # Convert matched value to integer
    else:
      car_info[key] = None  # Set missing values to None

  return list(car_info.values()), list(car_info.keys())

In [ ]:
columns = extract_dim(df['description'][0])[1]
for i in columns:
  df[i] = df['description'].apply(lambda x: extract_dim(x)[0][columns.index(i)])

In [ ]:
# reordering the columns

df = df[['name', 'category','length', 'height',
       'width','measurement', 'boot_normal', 'boot_mean', 'ground_clearance']]

df.head()

In [ ]:
numeric_columns = df.columns[2:]
for i in numeric_columns:
  df[i] = df[i].apply(lambda x: np.NaN if (x == None) else int(x))

# Imputing missing values of measurement.

In [ ]:
df['mirrors'] = (pd.to_numeric(df['measurement'], errors='coerce') - df['width']).fillna(np.NaN)

In [ ]:
df['mirror_rate'] = pd.to_numeric(df['mirrors'], errors = 'coerce') / df['width']
df['measurement']  = df['measurement'].replace('', np.NaN)
df['ground_clearance']  = df['ground_clearance'].replace('', np.NaN)
df['boot_mean']  = df['boot_mean'].replace('None', np.NaN)
df['boot_normal']  = df['boot_normal'].replace('None', np.NaN)

In [ ]:
df['mirror_rate'].fillna(np.mean(df['mirror_rate']), inplace=True)
df['measurement'].fillna(round((df['width'] * (1+ df['mirror_rate'])), 0), inplace=True)

# Extract brand and model

In [ ]:
# Define a regular expression pattern
pattern = r"^(.*?)\s+(.*)$"

# Extract brand and model using str.extract
df[['brand', 'model']] = df['name'].str.extract(pattern, expand=True)

In [ ]:
df.columns

In [ ]:
df = df[['brand', 'model', 'category', 'length', 'height', 'width', 'measurement',
       'boot_normal', 'boot_mean', 'ground_clearance', 'mirrors',
       'mirror_rate']]
df.head(100)